# File: k8s/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      serviceAccountName: iris-api-ksa
      containers:
      - name: iris-api
        image: __IMAGE__
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: "250m" # Request 0.25 of a vCPU
          limits:
            cpu: "500m" # Allow bursting up to 0.5 of a vCPU
